.App{
    width: 560px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid #DBB44E;
    border-radius: 5px;
    background-color: beige;
}
ul{
    padding: 5px;
}
li{
    list-style-type: disc;
    padding: 10px;
}
.text{
    font-family: 'Courier New', Courier, monospace;
}